body {
  background-color: #f7f7f7;
  padding-top: 3rem;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content side"
    "footer footer";

  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr auto;
  /* grid-gap: 10px; */

  /* height: 100vh; */

  background-color: white;
}